aristaproto==0.1.4
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
cloudvision==1.27.1
cryptography==46.0.3
grpcio==1.80.0
grpclib==0.4.9
h2==4.3.0
hpack==4.1.0
hyperframe==6.1.0
idna==3.13
msgpack==1.1.2
multidict==6.7.1
mysql-connector-python==9.7.0
protobuf==5.29.6
pyavd-utils==0.0.1
pycparser==3.0
python-dateutil==2.9.0.post0
PyYAML==6.0.3
requests==2.33.1
six==1.17.0
typing_extensions==4.15.0
urllib3==2.6.3
